<%- include("header"); -%>
  <div class="paintings-content error-page">
    <h1>Sorry, 404!</h1>
    <p>De pagina waar u naar zocht, is niet gevonden. Onze excuses!</p>
    <a href="/" class="btn-red">Homepage</a>
  </div>
<%- include("footer"); -%>
