  <footer>
    <h2>Kunstmuseum</h2>
    <a href="https://stormy-fortress-91643.herokuapp.com/" target="_blank">https://stormy-fortress-91643.herokuapp.com/</a>
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </footer>
  <p class="copy">&cent; Kunstmuseum</p>
  <script src="/javascript/master.js"></script>
</body>
</html>
